
.container-sm{
    position: absolute;
    background-color: #d6d6d6;
    border-radius: 10px 10px 120px 10px;
    max-height: 50%;
    width: 30%;
    margin: 2%:

}
.container-grid-1{
    grid-template-columns: 1fr 5fr 1fr;
    display: grid;
    grid-template-rows: 1fr;
    height: auto;
}
.col-1 button {
    color: #b1b0b0;
    border-style: solid 1px;
    border-radius: 20px;
    border-color: #b1b0b0;
    padding: 1%;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    
}
.row-1 {
border-style: outset;
padding: 0%;
margin-bottom: 6%;
border-radius: 10px 0px 0px 0px ;
height: 40px;
}
.row-1-1 {
    border-style: outset;
    padding: 0%;
    margin-bottom: 6%;
    border-radius: 0px 10px 0px 0px ;
    height: 40px;
}

.row-2 {
    border-style: outset;
    margin-bottom: 6%;
    height: 40px;
}

.row-3 {
    background-color: #6d7781;
    padding: 3% 8%;
    max-height: 50%;
    border-radius: 15px 15px 50px 15px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: azure;
    text-emphasis-style: line;
}

.col-12 {
    padding: 2%;
}

.col-12 img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .col-12 img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }
