#wrapper {
display: grid;
grid-template-columns: 1fr 9fr 1fr;
grid-gap: 10px;
background-color: #d6d6d6;
border-radius: 10px 10px 120px 20px;
height: 900px;
width: 30%;
margin-left: auto;
margin-right: auto;
}

.one {
grid-column: 1 / 4;
grid-row: 1;
height:20px;
display: grid;
grid-template-columns: 1fr 9fr 1fr;
}

.two {
grid-column: 2;
grid-row: 2;
grid-template-columns: 1fr 9fr 1fr;
display: grid;
background-color: #6d7781;
padding-bottom: 15%;
max-height: auto;
border-radius: 15px 15px 50px 15px;
border: solid rgb(75, 75, 75);
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
 margin-top: 6%;
}

.three {
grid-column: 2;
grid-row: 3;
height: 50px;
}

.four {
grid-column: 2;
grid-row: 4;
grid-template-columns: 1fr 1fr 1fr;
display: grid;
height: 150px;
}

  

.colum-1 {
border-style: outset;
padding: 0%;
margin-bottom: 6%;
border-radius: 10px 0px 0px 0px ;
height: 30px;
}

.colum-3 {
border-style: outset;
padding: 0%;
margin-bottom: 6%;
border-radius: 0px 10px 0px 0px ;
height: 30px;
}

.colum-2 {
border-style: outset;
margin-bottom: 6%;
height: 30px;
}

.element-1 button {
color: #b1b0b0;
border-radius: 20px;
border-color: #b1b0b0;
position: relative;
margin-top: 1%;
}

.colum-4 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.colum-4 button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(25, 182, 77);
}

.colum-4 p {
    font-size: 8px;
    text-align: center;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.colum-5 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: azure;
    text-align: right;

}

.colum-5 img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .row-4-2 img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }


.three p {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 14px;
color: #323d72;
margin-top: 0%;
}

.three span {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 22px;
color: #323d72;
}

.colum-6 {
grid-column: 1;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
display: grid;
max-height: fit-content;
}

.colum-6-1 {
grid-column: 2;
grid-row: 1;
background-color: rgb(39, 39, 39);
border-radius: 10px 10px 0px 0px;
}

.colum-6-2 {
grid-column: 2;
grid-row: 2;
background-color: rgb(39, 39, 39);
}

.colum-6-3 {
grid-column: 1;
grid-row: 2;
background-color: rgb(39, 39, 39);
border-radius: 10px 0px 0px 10px;
}

.colum-6-4 {
grid-column: 3;
grid-row: 2;
background-color: rgb(39, 39, 39);
border-radius: 0px 10px 10px 0px;
}

.colum-6-5 {
grid-column: 2;
grid-row: 3;
background-color: rgb(39, 39, 39);
border-radius: 0px 0px 10px 10px;
}

.colum-7 {
  grid-column: 3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
  position: relative;

  }
  
  .colum-7-1 {
  grid-column: 1;
  grid-row: 2;
  background-color: #9e1c58;
  border-radius: 80px;
  }
  
  .colum-7-2 {
  grid-column: 2;
  grid-row: 1;
  background-color: #9e1c58;
  border-radius: 50px;
  }

.text-b, .text-a {
font-family: 'Orbitron', sans-serif;
color: black;
font-size: 14px;
display: inline;
position: absolute;
margin: 65px;
transform: rotateZ(-25deg);
  }

.five {
grid-column: 2;
grid-row: 5;
display: grid;
width: 40%;
height: 90px;
padding-left: 25%;
margin-top: 40px;
}
.out-select{
  grid-column: 1;
  grid-row: 1;
}
.out-start {
  grid-column: 2;
  grid-row: 1;
}

.out-select, .out-start {
  width: 90px;
  transform: rotateZ(-25deg);
  height: 25px;
  background-color:#d6d6d6;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: inset 3px 0px 7px 1px rgb(0 0 0 / 40%);
  position: relative;
  bottom: 5%;
  right: 5%;
}

.select {
grid-column: 1;
grid-row: 1;
}

.start {
grid-column: 2;
grid-row: 1;
}

.select, .start {
  background-color:#6d7781;
  border-radius: 10px;
  box-shadow: inset 3px 0px 7px 1px rgb(0 0 0 / 40%);
  margin-right: 10px;
  width: 80px;
  transform: rotateZ(-25deg);
  height: 16px; 
}

.text-select {
grid-column: 1;
grid-row: 2;
}

.text-start{
grid-column: 2;
grid-row: 2;
}

.text-select, .text-start {
margin-top: 20px;
font-family: 'Orbitron', sans-serif;
color: black;
font-size: 14px;
display: flex;
justify-content: center;
}


.six {
grid-column: 2;
width: 200px;
transform: rotateZ(65deg);
display: grid;
flex-direction: column;
justify-content: center;
position: relative;
bottom: 65%;
left: 65%;
}


.line-1, .line-2, .line-3, .line-4, .line-5, .line-6{
  background-color: #d6d6d6;
  border-radius: 10px 10px 10px 10px;
  border-top: 2px solid #6d7781;
  box-shadow: inset 3px 0px 7px 1px rgb(0 0 0 / 40%);
  margin-right: 10px;
  width: 90px;
  height: 10px;
  margin-top: 15px;
}